Repository hmcts/opal-user-service, pull requests merged in 2024-08, with the labels that each got.

#12 PO-536-540 DB and Flyway Config plus DB Schema Scripts
  build.gradle
  charts/opal-user-service/Chart.yaml
  charts/opal-user-service/values.dev.template.yaml
  charts/opal-user-service/values.yaml
  docker-compose.yml
  infrastructure/main.tf
  infrastructure/variables.tf
  src/functionalTest/java/uk/gov/hmcts/reform/opal/controllers/SampleFunctionalTest.java
  src/main/resources/db/migration/V20240728_001__create_base_tables.sql
  src/main/resources/db/migration/V20240729_002__insert_user_developer.sql
  src/main/resources/db/migration/V20240729_003__insert_users.sql
  src/main/resources/db/migration/V20240730_004__exported_bu_inserts.sql
  src/main/resources/db/migration/V20240730_005__insert_business_unit_users.sql
  src/main/resources/db/migration/V20240730_006__insert_application_functions.sql
  src/main/resources/db/migration/V20240730_007__insert_user_entitlements.sql
  src/main/resources/db/migration/V20240730_008__insert_templates.sql
  src/main/resources/db/migration/V20240730_009__insert_template_mappings.sql
  src/main/resources/db/migration/V20240805_010__create_domain_table.sql
  src/main/resources/db/migration/V20240805_011__insert_domain_values.sql
  src/main/resources/db/migration/V20240805_012__add_domain_column_to_users_table.sql
  src/smokeTest/java/uk/gov/hmcts/reform/opal/controllers/SampleSmokeTest.java
Labels: ns:opal, prd:opal, stg/add-or-update, rel:opal-user-service-pr-12

#13 PO-612 Terraform Configuration
  README.md
  infrastructure/main.tf
Labels: ns:opal, prd:opal, stg/destroy, rel:opal-user-service-pr-13

#22 PO-659 Change Postgres Port to 5432
  docker-compose.yml
  infrastructure/main.tf
  src/main/resources/application.yaml
Labels: ns:opal, prd:opal, stg/add-or-update, rel:opal-user-service-pr-22

#26 PO-697 created additional users to use to test more scenarios
  src/main/resources/db/migration/V20240828_013__increase_user_description.sql
  src/main/resources/db/migration/V20240828_014__create_additional_users.sql
  src/main/resources/db/migration/V20240828_015__create_additional_bus_unit_users.sql
  src/main/resources/db/migration/V20240828_016__insert_additional_user_entitlements.sql
Labels: ns:opal, prd:opal, rel:opal-user-service-pr-26
