Repository hmcts/opal-user-service, pull requests merged in 2025-07, with the labels that each got.

#183 PO-1794_1795 Add migration scripts to manage foreign key constraints and account number suffix column in business_units table
  src/main/resources/db/migration/V20250702_025__add_account_number_suffix_column.sql
  src/main/resources/db/migration/V20250702_026__drop_fks_to_business_units.sql
  src/main/resources/db/migration/V20250702_027__load_business_units.sql
  src/main/resources/db/migration/V20250702_028__enable_fks_to_business_units.sql
Labels: ns:opal, prd:opal, rel:opal-user-service-pr-183

#194 Po 865 get user state
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/opal/AbstractIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/opal/TestContainerConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/opal/controllers/UserPermissionsControllerIntegrationTest.java
  src/integrationTest/resources/db.insertData/insert_user_state_data.sql
  src/main/java/uk/gov/hmcts/reform/opal/controllers/UserPermissionsController.java
  src/main/java/uk/gov/hmcts/reform/opal/controllers/advice/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/opal/dto/BusinessUnitUserDto.java
  src/main/java/uk/gov/hmcts/reform/opal/dto/PermissionDto.java
  src/main/java/uk/gov/hmcts/reform/opal/dto/UserStateDto.java
  src/main/java/uk/gov/hmcts/reform/opal/entity/BusinessUnitUserEntity.java
  src/main/java/uk/gov/hmcts/reform/opal/entity/UserEntitlementEntity.java
  src/main/java/uk/gov/hmcts/reform/opal/exception/ResourceConflictException.java
  src/main/java/uk/gov/hmcts/reform/opal/mappers/UserStateMapper.java
  src/main/java/uk/gov/hmcts/reform/opal/repository/UserEntitlementRepository.java
  src/main/java/uk/gov/hmcts/reform/opal/repository/UserRepository.java
  src/main/java/uk/gov/hmcts/reform/opal/service/UserPermissionsService.java
  src/main/java/uk/gov/hmcts/reform/opal/service/opal/UserService.java
  src/main/resources/jsonSchemas/getUserStateResponse.json
  src/test/java/uk/gov/hmcts/reform/opal/controllers/UserPermissionsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/opal/controllers/advice/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/opal/service/UserPermissionsServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-user-service-pr-194

#200 Add PostgreSQL container configuration and update image version to 17.5
  charts/opal-user-service/Chart.yaml
  charts/opal-user-service/values.yaml
  docker-compose.yml
  src/integrationTest/java/uk/gov/hmcts/reform/opal/TestContainerConfig.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/opal/dev/ContainerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/opal/dev/DevApplication.java
Labels: ns:opal, prd:opal, rel:opal-user-service-pr-200
